body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    background-color:#dfe5eb;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #dfe5eb;
    color: #597ca0ff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #597ca0ff!important;
}

/*Shop by category -dropdown*/
.shop_by_category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #597ca0ff;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    font-size: 15px;
    display: none;
    position: absolute;
    background-color: #8b9fb7;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.col-md-2 a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    min-width: 300px;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.row .col-md-2{
    padding: 20px 20px 20px 20px;

}
.new_auctions{
    padding: 150px 70px 10px 70px;
    font-size: 15px;
    color: #444444;
}

.new_auctions img{
    width: 150px;
    height: 150px;
}

.new_auctions .row{
    padding: 10px;
}

.new_auctions h4{
    color: #0c59cf;
}

footer {
	clear: both;
	position:relative;
    z-index: 10;
    height: 5.2vh;
    color: white;
    margin-top: 220px;
    background-color: #2f2f2f;
    font-size:16px;
	padding-top : 10px;
}

footer #org{
	float : left;
}

footer #orgInfo{
    float : right;
    padding-right: 50px;
}

footer li{
    float : left;
    list-style-type: none;
}

footer a, footer a:hover{
	text-decoration: none;
	padding: 0px 10px;
}
