body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    background-color:#dfe5eb;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #dfe5eb;
    color: #597ca0ff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #597ca0ff!important;
}
/*icon*/
.link_logo{
    float: left;
    margin-left: 20px;
    width: 150px;
    height: 95px; }

/*navbar*/
.topnav {
    top: 0px;
    position: fixed;
    width: 100%;
    color: #597ca0ff;
    background-color: white;
    margin: 0 auto;
    z-index: 1;
    height:130px; }

.topnav .links li:first-child{
    padding-top: 40px;
    float: right;
    margin-right: 20px;
}
.topnav .links li{
    padding-top: 40px;
    float: right;
}

.topnav .links  li{
    list-style-type: none; }

.topnav .links a {
    display: inline-block;
    text-transform: uppercase;
    color: #597ca0ff;
    text-align: center;
    padding-top: 10px;
    padding-right:30px;
    border-top: 1px solid #e4ece000;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.3px;
}

/*Shop by category -dropdown*/
.topnav .shop_by_category {
    padding-top: 45px;
    float: left; }

.shop_by_category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #597ca0ff;
}

.topnav ul li:first-child {
    text-align:left;
    float: left;
    text-decoration: none;
}

.topnav ul li {
    float: left;
    text-align:right;
    text-decoration: none;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.shop_by_category  li.dropdown {
    display: inline-block;
}

.shop_by_category  .dropdown-content {
    font-size: 15px;
    display: none;
    position: absolute;
    background-color: #8b9fb7;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.shop_by_category .col-md-2 a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    min-width: 300px;
}

.shop_by_category .dropdown-item:hover{
    color: white;
}
.shop_by_category  .dropdown:hover .dropdown-content {
    display: block;
}

.shop_by_category  .row .col-md-2{
    padding: 20px 20px 20px 20px;

}
/*searchbar*/
.container{
    /*min-height: 85vh;*/
    padding-top: 5px;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}



.row .col-md-2{
    padding: 20px 20px 20px 20px;

}
.new_auctions{
    padding: 150px 70px 10px 70px;
    font-size: 15px;
    color: #444444;
}

.new_auctions .col-md-3 .content{
    background-color: white;
    padding: 12px;
    height: 420px;
}

.new_auctions .col-md-3 .content .auction{
    position: absolute;
    bottom:0;


}

.new_auctions img{
    width:100%;
}
.new_auctions img:hover{
    opacity: 0.5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.new_auctions .row{
    padding-bottom: 20px;
}

.new_auctions h4{
    padding-top: 10px;
    color: #0c59cf;
    font-weight:bold;
}

.new_auctions p:last-child{
    font-weight:bold;
    color:black;
    font-size: 18px;
}




/*Profile*/
.perfil_img{
    height: 180px;
    width: 220;
    padding-left: 40%;
}
#profile {
    color: #444444;
    padding-top:180px;
    margin-left: 200px;
}
.col-md-6 p{
    padding-top: 10px;
    font-size: 20px;
}

hr.style17 {
	border-top: 2px solid #d6d6d6;
	text-align: center;
}

.user_auctions {
    padding: 50px;
    font-size: 18px;
}

.user_auctions h1{
    color: #444444;
    font-size: 25px;
    font-weight:bold;
}
.user_auctions a{
    color:#0c59cf;
}
.contact_user{
    margin-left: 120px;
}
.contact_user button:first-child{
    font-size: 16px;
}

.contact_user a{
    border:none;
}

.username .dropdown button{
    display: inline-block;
    text-transform: uppercase;
    color: #597ca0ff;
    text-align: center;
    padding-top: 12px;
    margin-right: 25px;
    border-top: 1px solid #e4ece000;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.3px;
}



.username .dropdown-menu{
    background-color: #8b9fb7;
    margin-top: 40px;

}
.username .dropdown-menu a{
    text-transform: none;
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-left: 30px;
}
.username .dropdown-menu a:hover{
    color:white;
    background-color: #8b9fb7;
}

/*Edit Profile*/
#edit_profile h1{
    color: #444444;
}

#edit_profile h6{
    color: #444444;
}

#edit_profile label{
    color: #597ca0ff;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*Error Page*/
#error{
  padding-top:200px;
  margin-left: 200px;
  padding-bottom: 160px;
}
#error .style17{
  margin-right: 200px;
  padding-bottom: 30px;
}

#error_home button{
  height: 50px;
  width: 300px;
  font-size: 20px;
  background-color: #597ca0ff;
  margin-left: 380px;

}


#error_msg h2.qOq{
width: 50px;
font-size: 40px;
color: #000000;

}

#error_msg h2.pnf{
font-size: 40px;
color: #606060;

}

#error_msg p{
  color: #000000;
  font-size: 17px;
  margin-left: 340px;
  padding-top:50px;
}

#error_search{
  margin-right: 350px;

}

/**Add auction page*/

.add_auction{
    padding: 100px;
    font-size: 18px;
    margin-top:100px;
    margin-bottom: 200px;
}
.add_auction h1{
    color: #444444;
    font-size: 25px;
    font-weight:bold;
}

.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}


/*administration*/

section#middle{
  color: #000000;
  padding-top: 160px;
  margin-left: 100px;
  padding-bottom: 100px;
}

#middle .style17{
  margin-right: 200px;
}

#middle nav {
  padding-top: 50px;
}

#middle a{
  color: #0c59cf;
  font-size: 16px;
}

/*item*/

#item{
  padding-top: 180px;
  padding-bottom: 100px;
  margin-left: 100px;
}

section#item h2.item_name{
  color: #000000;
  font-size: 26px;
  font-weight: bold;
}

section#item h3.auction_status{
  color: #629c44;
  font-size: 20px;
}

#item .style17{
  margin-right: 200px;
}

#item h2.information{
  color: #000000;
  font-weight: bold;
  font-size: 25px;
}

#item div#description{
  color:#000000;
  font-weight: bold;
  padding-bottom: 30px;
}
#item div#user_information{
  color: #444444;
  font-weight: normal;

}

#item div#user_information a{
    color: #444444;
    font-weight: normal;
    font-size: 16px;
  }

#item div #bid_buttons{
    left: 0;
}

#item div#buy_now_button{
  padding-top: 50px;
}
#item div#like_button{
  background-color:#dfe5eb;
  padding-top: 5px;
  padding-left: 15px;
}
#item div#like_button button{
  background-color:#dfe5eb;
  border-color: #dfe5eb;
}

#item div#like_button button:hover{
  background-color:#ffffff;
  border-color: #ffffff;
}


/*comment*/
.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}


.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
  color:#000000;
}
.post .post-description .stats {
  margin-top: 20px;
}

#item div#comments div.container{
  width: 1000px;
  height: 200px;
}

#item div#comments{
  padding-left: 20px;
  padding-top: 40px;
}

#item div.leave_comment{
  padding-top: 30px;
  padding-left: 15px;
}
#item div.leave_comment button{
  margin-left: 10px;
  margin-bottom: 10px;
}
#item div.leave_comment textarea{
  margin-left: 5px;
  margin-top: 5px;
  color: #000000;
  font-size: 19px;
}

/*  */

.faq{
    padding: 50px;
}

.faq h4 a{
    font-size:18px;
    font-weight: bold;
}

.faq .panel-body{
    font-size:18px;
}

/*ABOUT*/
#about a:hover{
    color: black;
}
/**Footer*/
footer {
	clear: both;
	position:relative;
    z-index: 10;
    height: 5.2vh;
    color: white;
    background-color: #2f2f2f;
    font-size:16px;
}

footer #org{
	float : left;
}

footer #orgInfo{
    float : right;
    padding-right: 50px;
}

footer li{
    float : left;
    list-style-type: none;
}

footer a, footer a:hover{
	text-decoration: none;
	padding: 0px 10px;
}

/* Search Page*/
#searchPage {
    padding-top: 120px;
    font-size: 18px;
    color: #000000;
}

#searchTitle {
    color: #444444;
    font-size: 25px;
    font-weight:bold;
}

#results .row{
    padding-bottom: 20px;
}

#results .content{
    background-color: white;
    padding: 12px;
}

#results .content img{
    width: 200px;
    height: 200px;
}

#results .content img:hover{
    opacity: 0.5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

#results .content p:last-child{
    font-weight:bold;
    color:black;
    font-size: 18px;
}

#results .content h4{
    padding-top: 10px;
    color: #0c59cf;
    font-weight: bold;
}

#category_filter {
    border-radius: 15px;
    background-color: white;
    padding: 12px;
}
