body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    background-color:#dfe5eb;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #dfe5eb;
    color: #597ca0ff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #597ca0ff!important;
}
/*icon*/
.link_logo{
    float: left;
    margin-left: 20px;
    width: 150px;
    height: 95px; }

/*navbar*/
.topnav {
    top: 0px;
    position: fixed;
    width: 100%;
    color: #597ca0ff;
    background-color: white;
    margin: 0 auto;
    z-index: 1; }

.topnav .links li:first-child{
    padding-top: 40px;
    float: right;
    margin-right: 20px; 
}
.topnav .links li{
    padding-top: 40px;
    float: right;
}

.topnav .links  li{
    list-style-type: none; }

.topnav .links a {
    display: inline-block;
    text-transform: uppercase;
    color: #597ca0ff;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #e4ece000;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.3px;
}

/*Shop by category -dropdown*/
.topnav .shop_by_category {
    padding-top: 10px;
    float: left; }

.shop_by_category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #597ca0ff;
}

.topnav ul li:first-child {
    text-align:left;
    float: left;
    text-decoration: none;
}

.topnav ul li {
    float: left;
    text-align:right;
    text-decoration: none;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    font-size: 15px;
    display: none;
    position: absolute;
    background-color: #8b9fb7;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.col-md-2 a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    min-width: 300px;
}

.dropdown-item:hover{
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.row .col-md-2{
    padding: 20px 20px 20px 20px;

}
/*searchbar*/
.container{
    padding-top: 5px;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/*Shop by category -dropdown*/
.shop_by_category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #597ca0ff;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    font-size: 15px;
    display: none;
    position: absolute;
    background-color: #8b9fb7;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.col-md-2 a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    min-width: 300px;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.row .col-md-2{
    padding: 20px 20px 20px 20px;

}
.new_auctions{
    padding: 150px 70px 10px 70px;
    font-size: 15px;
    color: #444444;
}

.new_auctions .col-md-3 .content{
    background-color: white;
    padding: 12px;
}

.new_auctions img{
    width: 250px;
    height: 250px;
}
.new_auctions img:hover{
    opacity: 0.5;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.new_auctions .row{
    padding-bottom: 20px;
}

.new_auctions h4{
    padding-top: 10px;
    color: #0c59cf;
    font-weight:bold;
}

.new_auctions p:last-child{
    font-weight:bold;
    color:black;
    font-size: 18px;
}

/*form Sign in*/
#form_signIn  {
    left: 32%;
    margin-top: 250px;
    background-color: #597ca0ff;
    padding: 60px;
    position: relative;
    width: 35%;
    height: 60%;
    margin-bottom: 150px;
}
.buttons_signIn {
    padding-top:20px;
}

.buttons_signIn button{
    font-size: 16px;
    background-color:#fefce0;
    height: 35px;
    width: 150px;
    color: #597ca0ff;
    border-radius: 5px;
}


/*Profile*/
.perfil_img{
    height: 180px;
    width: 220;
    padding-left: 40%;
}
#profile {
    color: #444444;
    padding-top:160px;
    margin-left: 200px;
}
.col-md-6 p{
    padding-top: 10px;
    font-size: 20px;
}

hr.style17 {
	border-top: 2px solid #d6d6d6;
	text-align: center;
}

.user_auctions {
    padding: 50px;
    font-size: 18px;
}

.user_auctions h1{
    color: #444444;
    font-size: 25px;
    font-weight:bold;
}

.contact_user{
    margin-left: 150px;
}
.contact_user button:first-child{
    font-size: 20px;
    background-color:#e6e6e6;
    height: 35px;
    width: 100px;
    color: #597ca0ff;
    border-radius: 5px;
}

.contact_user a{
    border:none;
    margin-left:20px;
}

/*Username Navbar*/
.dropdown button{
    display: inline-block;
    text-transform: uppercase;
    padding-top: 10px;
    text-decoration: none;
    font-size: 18px;
}
.dropdown-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #8b9fb7;
}

/*Error Page*/
#error{
  padding-top:100px;
  margin-left: 200px;
}
#error .style17{
  margin-right: 200px;
  padding-bottom: 30px;
}

#error_home button{
  height: 50px;
  width: 300px;
  font-size: 20px;
  background-color: #597ca0ff;
  margin-left: 380px;

}


#error_msg h2.qOq{
width: 50px;
font-size: 40px;
color: #000000;

}

#error_msg h2.pnf{
font-size: 40px;
color: #606060;

}

#error_msg p{
  color: #000000;
  font-size: 17px;
  margin-left: 340px;
  padding-top:50px;
}

/**Add auction page*/

.add_auction{
    padding: 100px;
    font-size: 18px;
}
.add_auction h1{
    color: #444444;
    font-size: 25px;
    font-weight:bold;
}

.add_auction h1 button{
    padding: 10px 50px 10px 50px;
    font-size: 18px;
    font-weight:normal;
    border-radius: 5px;
    background-color:#fefce0;
    color:#597ca0ff;
    float: right;
}

/**Footer*/
footer {
	clear: both;
	position:relative;
    z-index: 10;
    height: 5.2vh;
    color: white;
    background-color: #2f2f2f;
    font-size:16px;
}

footer #org{
	float : left;
}

footer #orgInfo{
    float : right;
    padding-right: 50px;
}

footer li{
    float : left;
    list-style-type: none;
}

footer a, footer a:hover{
	text-decoration: none;
	padding: 0px 10px;
}
